@import "../../../varibles";

.sidebar {
	ul {
		li {
			margin-bottom: 0.5rem;
			a {
				padding: 0.5rem;
				display: block;
				color: $gray;

				&.active {
					border-color: $red;
					background-color: $gray;
				}

				&:hover {
					border-color: #88190f;
					background-color: #333335;
				}
			}
		}
	}
}
